/*    ==========88888======== */
/*    ==  start edit_admin == */
/*    ==========88888======== */
.form-edit-dash{
    margin-right: 20px;
    margin-left: 20px;
    max-width: 985px;
        margin: 80px auto;
        padding: 40px 30px 30px 30px;
        background-color: #ecf0f3;
        border-radius: 15px;
        box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
}
.label-edit-dash{
    padding-right: 8px;
}
.div-edit-dash{
    margin-bottom: 41px;
}

.a-member-error-back{
    text-decoration: none;
}
.a-member-error-back:hover{
    text-decoration: underline;
}

.input-value-color{
    color: black;
}
/*    ==========88888======== */
/*    ==   end edit_admin  == */
/*    ==========88888======== */

/*    ==========88888======== */
/*    ==   start profile   == */
/*    ==========88888======== */

.emp-profile {
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}

.div-litter-profile{
    vertical-align: middle;
    width: 234px;
        height: 234px;
        border-radius: 50%;
        background: blueviolet;
}
.div-litter-profile-first{
    position: relative;
        top: 40px;
        color: white;
        left: -75px;
        font-size: 100px;
}

.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}

.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}

.profile-head h5 {
    color: #333;
}

.profile-head h6 {
    color: #0062cc;
}

.profile-edit-btn {
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}

.proile-rating {
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}

.proile-rating span {
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}

.profile-head .nav-tabs {
    margin-bottom: 5%;
}

.profile-head .nav-tabs .nav-link {
    font-weight: 600;
    border: none;
}

.profile-head .nav-tabs .nav-link.active {
    border: none;
    border-bottom: 2px solid #0062cc;
}

.profile-work {
    padding: 14%;
    margin-top: -15%;
}

.profile-work p {
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}

.profile-work a {
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}

.profile-work ul {
    list-style: none;
}

.profile-tab label {
    font-weight: 600;
}
.profile-tab{
margin-top: 62px;
}
.profile-tab p {
    font-weight: 600;
    color: #0062cc;
}
.btn-edit{
    background-color: #4CAF50;
        border: none;
        color: white;
        padding: 15px 16px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
}
.btn-edit:hover{
    background-color: #55b658;
}
@media (min-width: 768px){
    .div-profile{
        flex: 0 0 auto;
        width: 82%;
    }
}
/*    ==========88888======== */
/*    ==     end profile   == */
/*    ==========88888======== */