.navbar {
    direction: rtl;
    position: sticky;
    top: 0;
    z-index: 10;
    padding: 1rem 0;
}

.navbar .navbar-toggler {
    border-color: #fff;
}

.navbar .navbar-toggler svg {
    color: #fff;
}

.search-btn {
    border-radius: 6px;
    border: none;
    background: var(--main-color);
    color: #fff;
}

.search-btn:hover {
    background: var(--secondary-color);
}

.search-form {
    flex-basis: 50%;
}

.search-form input[type="search"] {
    flex-basis: 90%;
}

.search-form .search-btn {
    flex-basis: 10%;
}

.navbar a:hover,
.navbar-nav .nav-active-link,
.navbar-nav .nav-active-link:hover {
    color: var(--main-color) !important;
}

.logo-patriarch{
    width: 7%;
}

.link-patriarch{
    margin-left: -790px;
    padding: 0;
}
.cross-patriarch{
    display: none;
}

/*    ==========88888======== */
/*    ==   start nav-dash  == */
/*    ==========88888======== */
.nav-dash {
    margin-bottom: 13px;
    position: sticky;
    top: 0;
    z-index: 7;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.div-litter {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: blueviolet;
}

.div-litter-first {
    position: relative;
    top: 8px;
    color: white;
    left: -13px;
}

.a-litter-dash {
    text-decoration: none;
}

/*    ==========88888======== */
/*    ==    end nav-dash   == */
/*    ==========88888======== */